[submodule "libdivide4j"]
	path = libdivide4j
	url = https://github.com/PoslavskySV/libdivide4j
[submodule "rings.benchmarks"]
	path = rings.benchmarks
	url = https://github.com/PoslavskySV/rings.benchmarks
