.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal !important;
}

.wy-table-responsive {
    margin-bottom: 24px !important;
    max-width: 100% !important;
    overflow: visible !important;
}

.rings {
	color: #003366; 
	font: normal Lucida Sans, Lucida Sans Unicode, Lucida Grande, sans-serif; 
	font-variant: small-caps;
}

.mma {
	color: #663300; 
	font: normal Lucida Sans, Lucida Sans Unicode, Lucida Grande, sans-serif; 
	font-variant: small-caps;
}

.singular {
	color: #005566; 
	font: normal Lucida Sans, Lucida Sans Unicode, Lucida Grande, sans-serif; 
	font-variant: small-caps;
}

.feature {
	/*color: #006633;*/
	font-style: italic;
}